Exploratory Data Analysis

In [2]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 
from scipy.stats import trim_mean

import seaborn as sns 
# Seaborn is a powerful Python library used for data visualization. It is built on top of Matplotlib and integrates closely with Pandas, making it easier to create attractive and informative statistical graphics.

from scipy.stats import trim_mean 
The trim_mean function from the scipy.stats library in Python is used to calculate the trimmed mean of a dataset.

What is the trimmed mean?

It's a robust statistical measure of central tendency that is less sensitive to outliers than the simple arithmetic mean. Â  
It works by removing a specified percentage of data points from both ends of the sorted dataset before calculating the mean.

In [15]:
import pandas as pd

# Complete data for 40 states
data = {
    'State': ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 
              'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 
              'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 
              'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 
              'Rhode Island', 'South Carolina'],
    'Abbreviation': ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 
                     'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 
                     'RI', 'SC'],
    'Population': [4903185, 731545, 7278717, 3017804, 39512223, 5758736, 3565287, 989948, 21538187, 10617423, 1455271, 1787065, 
                   12579261, 6732219, 3190369, 2913314, 4505836, 4648794, 1344212, 6045680, 6949503, 9986857, 5706494, 2976149, 
                   6137428, 1068778, 1961504, 3104614, 1377529, 9222537, 2096829, 19453561, 10488084, 762062, 11689100, 3956971, 
                   4237256, 12801989, 1097374, 5148714],
    'Murder.Rate': [5.7, 10.3, 4.9, 5.6, 4.6, 2.7, 2.5, 5.8, 6.4, 5.4, 2.7, 2.6, 18.2, 7.2, 2.2, 3.9, 5.3, 10.3, 2.1, 11.3, 2.7, 
                    17.4, 2.7, 16.1, 10.0, 6.0, 4.6, 7.4, 2.6, 7.4, 5.1, 4.2, 6.1, 2.8, 7.8, 8.1, 3.4, 5.6, 2.5,1.5]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Save the DataFrame to a CSV file
df.to_csv('state_data.csv', index=False)

# Print confirmation
print("DataFrame created and saved to 'state_data.csv'")

DataFrame created and saved to 'state_data.csv'

In [14]:
for key, value in data.items():
    print(f"{key}: {len(value)}")

State: 41
Abbreviation: 41
Population: 40
Murder.Rate: 39

In [16]:
data = pd.read_csv("state_data.csv") 

# Check the type of data 
print ("Type : ", type(data), "\n\n") 

# Printing Top 10 Records 
print ("Head -- \n", data.head(10)) 

# Printing last 10 Records 
print ("\n\n Tail -- \n", data.tail(10))

Type :  <class 'pandas.core.frame.DataFrame'>


Head --
          State Abbreviation  Population  Murder.Rate
0      Alabama           AL     4903185          5.7
1       Alaska           AK      731545         10.3
2      Arizona           AZ     7278717          4.9
3     Arkansas           AR     3017804          5.6
4   California           CA    39512223          4.6
5     Colorado           CO     5758736          2.7
6  Connecticut           CT     3565287          2.5
7     Delaware           DE      989948          5.8
8      Florida           FL    21538187          6.4
9      Georgia           GA    10617423          5.4


 Tail --
              State Abbreviation  Population  Murder.Rate
30      New Mexico           NM     2096829          5.1
31        New York           NY    19453561          4.2
32  North Carolina           NC    10488084          6.1
33    North Dakota           ND      762062          2.8
34            Ohio           OH    11689100          7.8
35        Oklahoma           OK     3956971          8.1
36          Oregon           OR     4237256          3.4
37    Pennsylvania           PA    12801989          5.6
38    Rhode Island           RI     1097374          2.5
39  South Carolina           SC     5148714          1.5

In [17]:
# Adding a new column with derived data 

data['PopulationInMillions'] = data['Population']/1000000

# Changed data 
print (data.head(5))

        State Abbreviation  Population  Murder.Rate  PopulationInMillions
0     Alabama           AL     4903185          5.7              4.903185
1      Alaska           AK      731545         10.3              0.731545
2     Arizona           AZ     7278717          4.9              7.278717
3    Arkansas           AR     3017804          5.6              3.017804
4  California           CA    39512223          4.6             39.512223

In [18]:
data.describe()

         Population  Murder.Rate  PopulationInMillions
count  4.000000e+01    40.000000             40.000000
mean   6.583460e+06     6.092500              6.583460
std    7.213699e+06     4.075215              7.213699
min    7.315450e+05     1.500000              0.731545
25%    2.062998e+06     2.700000              2.062998
50%    4.577315e+06     5.350000              4.577315
75%    7.764672e+06     7.400000              7.764672
max    3.951222e+07    18.200000             39.512223

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   State                 40 non-null     object
 1   Abbreviation          40 non-null     object
 2   Population            40 non-null     int64
 3   Murder.Rate           40 non-null     float64
 4   PopulationInMillions  40 non-null     float64
dtypes: float64(2), int64(1), object(2)
memory usage: 1.7+ KB

In [20]:
# Rename column heading as it 
# has '.' in it which will create 
# problems when dealing functions 

data.rename(columns ={'Murder.Rate': 'MurderRate'}, inplace = True) 

# Lets check the column headings 
list(data)

['State', 'Abbreviation', 'Population', 'MurderRate', 'PopulationInMillions']

In [21]:
# calculate mean
Population_mean = data.Population.mean() 
print ("Population Mean : ", Population_mean) 

MurderRate_mean = data.MurderRate.mean() 
print ("\nMurderRate Mean : ", MurderRate_mean)

Population Mean :  6583460.225

MurderRate Mean :  6.092499999999999

In [22]:
# Trimmed mean
# Mean after discarding top and 
# bottom 10 % values eliminating outliers 

population_TM = trim_mean(data.Population, 0.1) 
print ("Population trimmed mean: ", population_TM) 

murder_TM = trim_mean(data.MurderRate, 0.1) 
print ("\nMurderRate trimmed mean: ", murder_TM)

Population trimmed mean:  5202503.625

MurderRate trimmed mean:  5.3875

In [23]:
# Weighted Mean
# here murder rate is weighed as per  
# the state population 
  
murderRate_WM = np.average(data.MurderRate, weights = data.Population) 
print ("Weighted MurderRate Mean: ", murderRate_WM)

Weighted MurderRate Mean:  6.638726171160242

In [24]:
# Median
Population_median = data.Population.median() 
print ("Population median : ", Population_median) 
  
MurderRate_median = data.MurderRate.median() 
print ("\nMurderRate median : ", MurderRate_median)

Population median :  4577315.0

MurderRate median :  5.35